<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Zendfox Framework
 * 
 * LICENSE
 * 
 * This file is part of Zendfox.
 *
 * Zendfox is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Zendfox is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Zendfox in the file LICENSE.txt.  If not, see <http://www.gnu.org/licenses/>.
 *
 * @category    Fox
 * @package     Fox_Admin
 * @author      Zendfox Team of Unicode Systems <zendfox@unicodesystems.in>
 * @copyright   Copyright (c) 2011 Unicode Systems. (http://www.unicodesystems.in)
 * @license     http://www.gnu.org/licenses/  GNU General Public License
 */
-->
<config>
    <dependents>
        <dependent>Core</dependent>
    </dependents>
    <web></web>
    <admin>
        <acl>
            <cat label="Dashboard" resource="admin/dashboard" order="0" />
            <cat label="System" order="4">
                <cat label="User Management" order="0">
                    <cat label="Manage Users" order="0">
                        <resource name="admin/system_user" order="0">
                            <action name="save" label="Save User" order="0">
                                <dependents>
                                    <action name="index" />
                                    <action name="ajax-table" />
                                    <action name="add" />
                                    <action name="edit" />
                                    <action name="group-status" />
                                </dependents>
                            </action>
                            <action name="delete" label="Delete User" order="1">
                                <action name="index" />
                                <action name="ajax-table" />
                                <action name="edit" />
                                <action name="group-delete" />
                            </action>
                        </resource>
                    </cat>
                    <cat label="Manage Roles" order="1">
                        <resource name="admin/system_role" order="0">
                            <action name="save" label="Save Role" order="0">
                                <dependents>
                                    <action name="index" />
                                    <action name="ajax-table" />
                                    <action name="add" />
                                    <action name="edit" />
                                </dependents>
                            </action>
                            <action name="delete" label="Delete Role" order="1">
                                <action name="index" />
                                <action name="ajax-table" />
                                <action name="edit" />
                            </action>
                        </resource>
                    </cat>
                </cat>
                <cat label="Attributes" order="2">
                    <cat label="Manage Attribute Sets" resource="admin/eav_set" order="0" />
                    <cat label="Manage Attributes" resource="admin/eav_attribute" order="1" />                    
                </cat>
                <resource name="admin/system_email_template" label="Manage Email Templates" order="0" />
                <resource name="admin/system_module" label="Manage Modules" order="1" />
                <resource name="admin/system_setting" label="Manage Settings" order="2" />
                <resource name="admin/system_cache" label="Cache Management" order="3" />     
                <resource name="admin/backup" label="Backups" order="4" />
            </cat>
        </acl>
        <menus>
            <menu label="System" order="7">
                <menu label="User Management" order="0">
                    <item action="admin/system_user" order="0">Users</item>
                    <item action="admin/system_role" order="1">Roles</item>
                </menu>
                <item action="admin/system_module" order="1">Modules</item>
                <item action="admin/system_cache" order="2">Cache Management</item>
                <item action="admin/system_email_template" order="3">Email Templates</item>
                <item action="admin/system_setting" order="5">Settings</item>
            </menu>
        </menus>
    </admin>
    <common></common>
</config>